.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body > .main {
    flex: 1;
}

.body > .footer{
    display:flex;
    justify-content: center;
    background-color: purple !important;
    width:100%;
}

.footer > h1{
    color: darkgreen;
}